.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
}

input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;

    margin-top: 1rem;
}
#loading {
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    margin: 5px 0;
    background: #f4f4f4;
}
.loading:hover {
    transform: scale(1.05);
}

#toTheTopButton {
    display: none; /* Hidden by default */
    --offset: 50px;

    position: sticky;
    bottom: 20px;
    margin-right: 10px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));

    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;
}

#toTheTopButton:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
