{
    "tabWidth": 4,
    "useTabs": false,
    "htmlWhitespaceSensitivity": "ignore",
    "singleQuote": true,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "printWidth": 150,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        },
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ]
}
